/* Home Section */
.home {
  background: url("./Components/images/banner.webp");
  width: 100%;
  height: 100vh;
}

/* Product Section */
.card{
  margin-left: 80px;
}
.card img{
  transition: all .5s linear;
}

.card img:hover{
  transform: scale(1.2);
}


/* Details Section */
.details__img {
  width: 100%;
  height: auto;
}

.details__name {
  font-size: 28px;
  font-weight: bolder;
  text-transform: uppercase;
}

.details__actual {
  text-decoration: line-through;
  font-size: 20px;
}

.details__discount {
  margin-left: 20px;
  font-size: 20px;
}

.dec,
.inc,
.quantity {
  width: 50px;
  height: 50px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  border-left: none;
  border-right: none;
}

.inc,
.dec {
  cursor: pointer;
}

.details__incdec {
  display: flex;
}

.details__p {
  margin-top: 15px;
}


/* Cart Section */
.cart{
  margin-top: 100px;
}

.cart h3{
  font-weight: 400;
}

.cart__heading{
  background: #f4f6f8;
  padding: 10px;
  margin-left: 10px;
}

.cart__image img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cart__remove{
  cursor: pointer;
}

.summary__heading{
  background: #f4f6f8;
  margin-left: 10px;
}

/* Footer Section */
.footer{
  background-color: black;
}

.footer h1{
  color: white;
}

.footer h5{
  color: white;
  text-align: center;
}

.footer span{
  color: white;
  text-align: center;
  display: block;
}


/* Media Query */
@media (min-width:300px) and (max-width:500px) {
  .home{
    background-size: cover;
    height: 80vh;
    background-position: center;
  }
  .card{
    position: relative;
    right: 100px;
  }
  .details__img img{
    width: 100%;
    height: auto;
  }
  .cart__image img{
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  .cart__heading{
    background: #f4f6f8;
    padding: 10px;
  }
  .cart__heading, .col-2{
     font-size: 10px;
  }
  .summary__heading{
    position: relative;
    right: 210px;
  }
  .checkout{
    position: relative;
    right: 210px;
  }
}

@media (min-width:500px) and (max-width:700px) {
  .home{
    background-size: cover;
    height: 80vh;
    background-position: center;
  }
  .row{
    position: relative;
    right: 50px;
  }
  .details__img img{
    width: 100%;
    height: auto;
  }
  .cart__heading{
    background: #f4f6f8;
    padding: 50px;
  }
  .cart__heading, .col-2{
     font-size: 10px;
  }
  .summary__heading{
    position: relative;
    right: 120px;
  }
  .checkout{
    position: relative;
    right: 120px;
  }
  .cart__body{
    margin-left: 20px;
  }
}

@media (min-width:700px) and (max-width:900px) {
  .home{
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
  .row{
    position: relative;
    right: 30px;
  }
  .details__img img{
    width: 100%;
    height: auto;
  }
  .cart__heading{
    background: #f4f6f8;
    padding: 50px;
  }
  .cart__heading, .col-2{
     font-size: 20px;
  }
  .summary__heading{
    position: relative;
    right: 120px;
  }
  .checkout{
    position: relative;
    right: 120px;
  }
  .cart__body{
    margin-left: 20px;
  }
}

@media (min-width:900px) and (max-width:1100px) {
  .home{
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
  .details__img img{
    width: 100%;
    height: auto;
  }
  .summary__heading{
    position: relative;
    right: 120px;
  }
  .checkout{
    position: relative;
    right: 120px;
  }
}

@media (min-width:1100px) and (max-width:1300px) {
  .row{
    position: relative;
    left: 80px;
  }
}